.about-page {
    background-color: white;
    text-align: center;
    height: 100vh;

    .navbar {
        display: flex;
        justify-content: center;
        background-color: #2074d4;
        border-bottom: 1px solid #e7e7e7;
        color: white;
        height: 60px;
        margin-bottom: 20px;

        .navbar-content {
            display: flex;
            justify-content: space-between;
            width: 70%;
            align-items: center;
        }

        .navbar-brand {
            font-size: 24px;
            font-weight: bold;
        }
    }

    .intro-container {
        padding-top: 30px;
        display: flex;
        justify-content: left;
        align-items: left;
        flex-direction: column;
        margin: 20px auto;
        width: 70%;
        text-align: left;

        .header-text {
            font-size: 60px;
            font-weight: 400;
            margin-bottom: 20px;
        }

        .intro-text {
            width: 70%;
            font-size: 20px;
            color: #5a5a5a;
        }
    }

    .feature-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin: 20px auto;
        width: 70%;
        padding: 20px;

        .grid-container {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 30px;
            width: 100%;
            margin: 10px auto;

            .grid-item {
                position: relative; /* To position the hexagon image */
                background-color: white;
                padding: 20px;
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                text-align: center;
                color: rgb(86, 86, 86);
                font-weight: bold;
                font-size: 20px;
                margin-bottom: 10px;
                height: 100px;
                transition: background-color 0.3s, box-shadow 0.3s;
                cursor: pointer;

                &:nth-child(1) {
                    border: 2px solid rgb(66, 163, 100);
                    &:hover {
                        box-shadow: 0 0 10px rgba(66, 163, 100, 0.8);
                        background-color: rgb(239, 249, 244);
                    }
                }
                &:nth-child(2) {
                    border: 2px solid #e69617;
                    &:hover {
                        box-shadow: 0 0 10px rgba(230, 150, 23, 0.8);
                        background-color: rgb(252, 243, 230);
                    }
                }
                &:nth-child(3) {
                    border: 2px solid #59b1d5;
                    &:hover {
                        box-shadow: 0 0 10px rgba(89, 177, 213, 0.8);
                        background-color: rgb(235, 245, 251);
                    }
                }
                &:nth-child(4) {
                    border: 2px solid #C35151;
                    &:hover {
                        box-shadow: 0 0 10px rgba(195, 81, 81, 0.8);
                        background-color: rgb(251, 235, 235);
                    }
                }
                &:nth-child(5) {
                    border: 2px solid #6954e1;
                    &:hover {
                        box-shadow: 0 0 10px rgba(84, 62, 205, 0.8);
                        background-color: rgb(238, 236, 255);
                    }
                }

                .hexagon-background {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background-image: url('../icon/about/hexagon.jpeg'); /* Add your hexagon image path here */
                    background-size: cover;
                    background-repeat: no-repeat;
                    opacity: 0.5; /* Adjust opacity to make it half transparent */
                    z-index: 0;
                }

                .grid-item-content {
                    position: relative;
                    z-index: 1; /* Ensures content is above the hexagon background */
                }

                .grid-item-image {
                    width: 100%;
                    height: auto;
                    margin: 10px 0 10px 0;
                    // border-radius: 20px;
                    opacity: 0.7;
                    transition: opacity 0.3s;
                    &:hover {
                        opacity: 1;
                    }
                }
            }
        }
    }
}
