.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.shrink-0 {
  flex-shrink: 0;
}

.grow {
  flex-grow: 1;
}

.h-screen {
  height: 100vh;
}

.bg-darker {
  background-color: #f2f2f7;
}

.bg-dark {
  background-color: #f2f2f7;
}

.font-mono {
  font-family: monospace;
}

.color-white {
  color: rgb(0, 0, 0);
}

.overflow-hidden {
  overflow: hidden;
}

.contents {
  display: grid;
  transition: filter 0.2s ease-out, background-color 0.2s ease-out;
  font-size: 16px;
  height: 90vh;
  // overflow-y: scroll;
}

.dragging {
}

.max-screen-width {
  max-width: 100vw;
}

.contents-chat {
  display: flex;
  flex-direction: column;
  height: 90vh;
}

.div-height {
  height: 90vh;
}
