.taskCard {
  border: none;
  height: 100%;
  background-color: #ffffff;
  padding: 10px 10px 0 10px;
  border: 1px solid #e1e1e1;
  box-sizing: border-box;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  .task-area {
    height: 35%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
  }
  textarea {
    margin: 1px;
    border: none;
    height: 100%;
    border-radius: 10px;
    padding: 10px;
    font-size: 1em;
    line-height: 1.5em;
    box-sizing: border-box;
    resize: none;
    display: flex;
  }

  .exerciseBar {
    display: flex;
    justify-content: flex-start;
    height: 40px;
    margin-top: 1%;
    margin-bottom: 1%;

    .action-btn {
      height: 30px;
      // background-color: #007aff;
      color: #ffffff;
      margin-left: 10px;
      border: none;
      border-radius: 15px;
      padding: 5px 10px;
      font-size: 1em;
      transition: background-color 0.3s ease;
      text-transform: none;

      & + .action-btn {
        margin-left: 20px;
      }

      &.red {
        background-color: #ff3b30;

        &:hover {
          background-color: darken(#ff3b30, 20%);
        }
      }
    }
  }
}

.audioTaskCard {
  border: none;
  height: 100%;
  background-color: #ffffff;
  padding: 10px 10px 0 10px;
  border: 1px solid #e1e1e1;
  box-sizing: border-box;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  // border-radius: 15px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;

  .task-area {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    overflow: hidden;

    &:hover {
      overflow-y: auto;
    }

    &::-webkit-scrollbar {
      width: 0; /* Remove scrollbar space */
      background: transparent; /* Optional: just make scrollbar invisible */
    }

    &:hover::-webkit-scrollbar {
      width: 8px; /* Scrollbar width when hovered */
      background: #f1f1f1; /* Optional: scrollbar background when hovered */
    }

    &:hover::-webkit-scrollbar-thumb {
      background: #888; /* Scrollbar thumb color */
      border-radius: 10px;
    }

    &:hover::-webkit-scrollbar-thumb:hover {
      background: #555; /* Scrollbar thumb color when hovered */
    }
  }

  textarea {
    margin: 1px;
    border: none;
    height: 100%;
    border-radius: 10px;
    padding: 10px;
    font-size: 1em;
    line-height: 1.5em;
    box-sizing: border-box;
    resize: none;
    display: flex;
    transition: border 0.3s ease, box-shadow 0.3s ease;
    overflow: hidden;

    &:focus {
      border: 1px solid #007aff;
      box-shadow: 0 0 5px rgba(0, 122, 255, 0.5);
    }

    &:hover {
      overflow-y: auto;
    }

    &::-webkit-scrollbar {
      width: 0; /* Remove scrollbar space */
      background: transparent; /* Optional: just make scrollbar invisible */
    }

    &:hover::-webkit-scrollbar {
      width: 8px; /* Scrollbar width when hovered */
      background: #f1f1f1; /* Optional: scrollbar background when hovered */
    }

    &:hover::-webkit-scrollbar-thumb {
      background: #888; /* Scrollbar thumb color */
      border-radius: 10px;
    }

    &:hover::-webkit-scrollbar-thumb:hover {
      background: #555; /* Scrollbar thumb color when hovered */
    }
  }

  .exerciseBar {
    display: flex;
    justify-content: flex-start;
    height: 40px;
    margin-top: 1%;
    margin-bottom: 1%;
    gap: 10px;

    .action-btn {
      height: 30px;
      color: #ffffff;
      border: none;
      border-radius: 15px;
      padding: 5px 10px;
      font-size: 1em;
      transition: background-color 0.3s ease, transform 0.3s ease;
      text-transform: none;

      & + .action-btn {
        margin-left: 10px;
      }

      &.red {
        background-color: #ff3b30;

        &:hover {
          background-color: darken(#ff3b30, 10%);
          transform: translateY(-3px);
        }
      }

      &.primary {
        background-color: #007aff;

        &:hover {
          background-color: darken(#007aff, 10%);
          transform: translateY(-3px);
        }
      }

      &.error {
        background-color: #d32f2f;

        &:hover {
          background-color: darken(#d32f2f, 10%);
          transform: translateY(-3px);
        }
      }
    }
  }
}
